<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p th:text="${'id: ' + user.getId()}"></p>
    <p th:text="${'name: ' + user.getName()}"></p>
    <p th:text="${'username: ' + user.getUsername()}"></p>
    <p th:text="${'age: ' + user.getAge()}"></p>
    <p th:text="${'email: ' + user.getEmail}"></p>
    <p th:text="${'address: ' + user.getAddress}"></p>
    <form th:action="@{/user/edit/{id}(id=${user.getId()})}">
        <input type="submit" value="Edit user">
    </form>
    <form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete user">
    </form>
    <form action="/user">
        <input type="submit" value="Show all users">
    </form>
</body>

</html>